/*
Brivio API

Public REST API for Brivio — invoicing, contacts, articles, locations and module entitlements. Authenticate with a Bearer API key (brivio_sk_live_… / brivio_sk_test_…).

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// HrAPIService HrAPI service
type HrAPIService service

type ApiListHrEmployeesRequest struct {
	ctx context.Context
	ApiService *HrAPIService
	page *int32
	perPage *int32
	cursor *string
}

func (r ApiListHrEmployeesRequest) Page(page int32) ApiListHrEmployeesRequest {
	r.page = &page
	return r
}

// Page size (max 100). &#x60;per_page&#x60; is accepted as a legacy alias.
func (r ApiListHrEmployeesRequest) PerPage(perPage int32) ApiListHrEmployeesRequest {
	r.perPage = &perPage
	return r
}

// Opaque keyset cursor (from meta.nextCursor); takes precedence over page
func (r ApiListHrEmployeesRequest) Cursor(cursor string) ApiListHrEmployeesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListHrEmployeesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListHrEmployeesExecute(r)
}

/*
ListHrEmployees Employee directory (PII excluded)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListHrEmployeesRequest
*/
func (a *HrAPIService) ListHrEmployees(ctx context.Context) ApiListHrEmployeesRequest {
	return ApiListHrEmployeesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *HrAPIService) ListHrEmployeesExecute(r ApiListHrEmployeesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HrAPIService.ListHrEmployees")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hr/employees"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perPage", r.perPage, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ListMe401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
