/*
Brivio API

Public REST API for Brivio — invoicing, contacts, articles, locations and module entitlements. Authenticate with a Bearer API key (brivio_sk_live_… / brivio_sk_test_…).

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CompaniesAPIService CompaniesAPI service
type CompaniesAPIService service

type ApiCreateCompanySearchRequest struct {
	ctx context.Context
	ApiService *CompaniesAPIService
	createCompanySearchRequest *CreateCompanySearchRequest
}

func (r ApiCreateCompanySearchRequest) CreateCompanySearchRequest(createCompanySearchRequest CreateCompanySearchRequest) ApiCreateCompanySearchRequest {
	r.createCompanySearchRequest = &createCompanySearchRequest
	return r
}

func (r ApiCreateCompanySearchRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateCompanySearchExecute(r)
}

/*
CreateCompanySearch Search the public company registry (full filter model)

Body: { groups: FilterGroup[], sort?, page?, pageSize?, stats? }. AND between groups, OR within a group; groups support exclude:true (NOT). Scope: companies:read.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCompanySearchRequest
*/
func (a *CompaniesAPIService) CreateCompanySearch(ctx context.Context) ApiCreateCompanySearchRequest {
	return ApiCreateCompanySearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CompaniesAPIService) CreateCompanySearchExecute(r ApiCreateCompanySearchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompaniesAPIService.CreateCompanySearch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/companies/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createCompanySearchRequest == nil {
		return nil, reportError("createCompanySearchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCompanySearchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ListMe401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCompanySearchRequest struct {
	ctx context.Context
	ApiService *CompaniesAPIService
	q *string
	caen *string
	sect *string
	jud *string
	fin *string
	trend *string
	adm *string
	sort *string
	p *int32
	n *int32
	stats *bool
}

// Free text (name/CUI)
func (r ApiListCompanySearchRequest) Q(q string) ApiListCompanySearchRequest {
	r.q = &q
	return r
}

// CAEN codes, comma-separated
func (r ApiListCompanySearchRequest) Caen(caen string) ApiListCompanySearchRequest {
	r.caen = &caen
	return r
}

// CAEN divisions, comma-separated
func (r ApiListCompanySearchRequest) Sect(sect string) ApiListCompanySearchRequest {
	r.sect = &sect
	return r
}

// Counties, comma-separated
func (r ApiListCompanySearchRequest) Jud(jud string) ApiListCompanySearchRequest {
	r.jud = &jud
	return r
}

// Financial ranges, e.g. revenue:latest:1000000-
func (r ApiListCompanySearchRequest) Fin(fin string) ApiListCompanySearchRequest {
	r.fin = &fin
	return r
}

// Trend filters, e.g. profitableYears:3
func (r ApiListCompanySearchRequest) Trend(trend string) ApiListCompanySearchRequest {
	r.trend = &trend
	return r
}

// Administrator/associate name
func (r ApiListCompanySearchRequest) Adm(adm string) ApiListCompanySearchRequest {
	r.adm = &adm
	return r
}

func (r ApiListCompanySearchRequest) Sort(sort string) ApiListCompanySearchRequest {
	r.sort = &sort
	return r
}

// Page
func (r ApiListCompanySearchRequest) P(p int32) ApiListCompanySearchRequest {
	r.p = &p
	return r
}

// Page size (max 200)
func (r ApiListCompanySearchRequest) N(n int32) ApiListCompanySearchRequest {
	r.n = &n
	return r
}

// Include aggregate stats
func (r ApiListCompanySearchRequest) Stats(stats bool) ApiListCompanySearchRequest {
	r.stats = &stats
	return r
}

func (r ApiListCompanySearchRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCompanySearchExecute(r)
}

/*
ListCompanySearch Search the public company registry (compact URL filters)

Prospectare: filter ~2M Romanian companies. Same query-string codec as the /prospecting web UI (e.g. ?jud=CLUJ&sect=62&fin=employees:latest:10-). Scope: companies:read.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCompanySearchRequest
*/
func (a *CompaniesAPIService) ListCompanySearch(ctx context.Context) ApiListCompanySearchRequest {
	return ApiListCompanySearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CompaniesAPIService) ListCompanySearchExecute(r ApiListCompanySearchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompaniesAPIService.ListCompanySearch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/companies/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.caen != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "caen", r.caen, "form", "")
	}
	if r.sect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sect", r.sect, "form", "")
	}
	if r.jud != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jud", r.jud, "form", "")
	}
	if r.fin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fin", r.fin, "form", "")
	}
	if r.trend != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trend", r.trend, "form", "")
	}
	if r.adm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adm", r.adm, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	if r.n != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "n", r.n, "form", "")
	}
	if r.stats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stats", r.stats, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ListMe401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListCompanySimilarRequest struct {
	ctx context.Context
	ApiService *CompaniesAPIService
	cui string
	limit *int32
}

func (r ApiListCompanySimilarRequest) Limit(limit int32) ApiListCompanySimilarRequest {
	r.limit = &limit
	return r
}

func (r ApiListCompanySimilarRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListCompanySimilarExecute(r)
}

/*
ListCompanySimilar Find similar companies (same CAEN, county, size band)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cui
 @return ApiListCompanySimilarRequest
*/
func (a *CompaniesAPIService) ListCompanySimilar(ctx context.Context, cui string) ApiListCompanySimilarRequest {
	return ApiListCompanySimilarRequest{
		ApiService: a,
		ctx: ctx,
		cui: cui,
	}
}

// Execute executes the request
func (a *CompaniesAPIService) ListCompanySimilarExecute(r ApiListCompanySimilarRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompaniesAPIService.ListCompanySimilar")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/companies/{cui}/similar"
	localVarPath = strings.Replace(localVarPath, "{"+"cui"+"}", url.PathEscape(parameterValueToString(r.cui, "cui")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ListMe401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
